* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --white: #F7F7F9;
    --dark-blue: #2B2D42;
    --light-gray: #c6c7ce;
    --green-light: #73AB84;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: var(--white);
    color: var(--dark-blue);
}

table { 
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid var(--dark-blue);
    padding: 5px 10px;
}

td {
    background: var(--white);
    font-family: 'Inter', sans-serif;
}

th {
    background: var(--dark-blue);
    color: var(--white);
}

main {
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

a {
    text-decoration: none;
    color: var(--dark-blue);
    font-family: 'Inter', sans-serif;
}

section {
    width: 100%;
}

h4 {
    margin: 0;
    font-size: 1.3rem;
}

.total-number-container {
    width: 100%;
    border: 1px solid var(--dark-blue);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-section {
    overflow-x: auto;
}

.column-header th {
    background: var(--green-light);
}

.team-url {
    transition: .2s;
    cursor: pointer;
}

.team-url:hover {
    background: var(--green-light);
    transition: .2s;
}

.team-url:hover a {
    color: var(--white);
    transition: .2s;
}

.team-url a {
    transition: .2s;
    display: block;
}

.city-values-container {
    display: flex;
    justify-content: space-evenly   ;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.city-values-container h3 {
    color: var(--light-gray);
    user-select: none;
    transition: .2s .2s;
}

.city-values-container h3:hover {
    transition: .2s;
    transform: scale(1.2);
    color: var(--dark-blue);
}